@charset "utf-8";
/* CSS Document */

#container {
	max-width: 900px;
	height: auto;
	overflow: auto;
	margin: 0 auto;
	
}

#header {
	overflow: auto;
	
	height: 450px;
	max-width: 900;
	 	

}
#Medlem {
    float:left;
    margin-right:15px;
    margin-left:15px;
}
#header h1{
	display:none;
}

#header {
	margin-left: 40px;
}


#meny a {text-decoration:none;
 font-size: 20px;}
#meny a:link { color:white; }
#meny a:visited { color:white; }
#meny a:focus { color:white; }
#meny a:hover { color:white; }
#meny a.active { color:black; }

#meny li {
	display:inline;
	display:block;
	text-decoration:none;
	width: 150px;
	height: 25px;
	background-color: #0f1ec3; 
	border-bottom: 5px solid #0f1ec3;
	border-top: 5px solid #293895;
	margin: 5px;
	float:left;	
	text-align: center;
	font-family: "arial", sans-serif;
	margin-bottom: 0;
}

#meny ul{
	height: 30px;
	width: 790px;
	padding: 0;
	padding-left: 110px;
	margin: 0;
	margin-left: auto;
   	margin-right: auto;	
	
}	

#meny ul li{
	list-style-type: none;
	display:inline;	
	
}

#meny li.active {
    background-color: grey;
    border-bottom: 5px solid grey;
	border-top: 5px solid grey;
	textcolor: black;
    
}
#hello {
    padding-left:40px;
    padding-right:40px;
}
#content {
	float: left;
	width: auto;
	height: auto;
	border: 2px solid grey;
	margin-top: 0;
	margin-left: 5px;
	

}
h2 {
    text-align:center;
}
h1 {
    text-align:center;
}
/* Färgsättning */

#container {
	background-color: white;
	border-color: #dcd4e1;
	
}

#header {
	background-color: white;
	background-image: url("pics/uncover-logga.jpg");
	background-repeat: no-repeat;
}

body {
	background-image: url("pics/collage.jpg");
}